<img src = "images/06-list.png">

# Lists

The most basic data structure in Python is the sequence. Each element of a sequence is assigned a number - its position or index. The first index is zero, the second index is one, and so on...

Lists are very similar to strings.  Except for immutable features. Lists can be changed.  

We will learn about:

    ■ How Lists are Created 
    ■ Indexing and Slicing of a List 
    ■ Adding or Removing Elements from Lists 
    ■ Basic List Methods
    ■ Nested Lists...
   
### How to create a list?

Lists are created by placing all the items (elements) inside a square bracket [ ], separated by commas.

It can have any number of items and they may be of different types (integer, float, string etc.).

In [1]:
list1 = [1,2,3,4]
list1

[1, 2, 3, 4]

In [2]:
type(list1)

list

In [3]:
list2 = [1,3,"Omer",5.8,12,True]
list2

[1, 3, 'Omer', 5.8, 12, True]

In [4]:
# Creating empty list.
my_list = [] # Method 1
my_list

[]

In [5]:
my_list2 = list() #Method 2
my_list2

[]

Also, a list can even have another list as an item. This is called **nested list**.

In [6]:
# nested list
my_list = [2,3, "Omer",[3, 4, 5], ['a']]
my_list

[2, 3, 'Omer', [3, 4, 5], ['a']]

In [7]:
# We can use length of function to learn length of the list as in the strings. 
my_list = [1,2,4,5,7,7,8,9,2,3,1,1,0,0,5]
len(my_list)

15

A string can convert to a list with using  **list()** function.

In [8]:
my_list =  list("Hello World")
my_list

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [9]:
s = "3" 
a= list(s)
a

['3']

### How can we access elements from a list? (Indexing and Slicing Lists)

Indexing and slicing operations on the lists are with the **same as** in **strings**.

In [10]:
my_list = [1,2,3,4,5,"a","b",3.14]
my_list

[1, 2, 3, 4, 5, 'a', 'b', 3.14]

In [11]:
# get the first element 
my_list[0]

1

In [12]:
# get the item in index number 4
my_list[4]

5

In [13]:
#get the last element
my_list[len(my_list)-1]

3.14

In [14]:
# get the items in the list start from index number 3 to the end of list.
my_list[3:]

[4, 5, 'a', 'b', 3.14]

In [15]:
# get the items in the list start from beginning to index number 4 (Index Number 4 not included!)
my_list[:4]

[1, 2, 3, 4]

In [16]:
#start from index num 1 to index num 5 
my_list[1:5]

[2, 3, 4, 5]

In [17]:
#start from index num 5 to the end of the list
my_list[5:]

['a', 'b', 3.14]

In [18]:
#from beginning to end skip 2 
my_list[::2]

[1, 3, 5, 'b']

In [19]:
#reverse my_list
my_list[::-1]

[3.14, 'b', 'a', 5, 4, 3, 2, 1]

### Basic Python List Operations & Methods 

In this section, we will also learn some basic operations and some basic methods that we can do on the lists. 

We will see many more methods of the lists in the future parts of the course.

We can also use **+** operator to combine one or more lists just like strings.

This is also called **concatenation**.

In [20]:
list1 =  [1,2,3]
list2 =  [4,5,6,7,8,10]
list1 + list2

[1, 2, 3, 4, 5, 6, 7, 8, 10]

We can add a new item into the list like this:

In [21]:
my_list = [1,2,3,4]
my_list =  my_list + ["Omer"]

In [22]:
my_list

[1, 2, 3, 4, 'Omer']

### Changing Element of a List 

We can change any item of a list directly.

In [23]:
# Elements of list can be changed directly like this.
my_list[0] = 8

In [24]:
my_list

[8, 2, 3, 4, 'Omer']

In [25]:
# We can change multiple elements in the list as well.
my_list[:2] = [10,20]

In [26]:
my_list

[10, 20, 3, 4, 'Omer']

The * operator gives us another list that repeats the given list for the given number of times.

In [27]:
list3 = [1,2,3,4]
list3 * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [28]:
list3 #But, the original list has not changed!

[1, 2, 3, 4]

In [29]:
#To change this the original list too, we should set it to itself.
list3 *= 3

In [30]:
list3 #Now, the original list has changed!

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

#### append() method
This method adds an element to the end of the list.

In [31]:
list4 = [3,4,5,6]
list4.append(7)
list4

[3, 4, 5, 6, 7]

In [32]:
list4.append("Python")

In [33]:
list4

[3, 4, 5, 6, 7, 'Python']

#### pop() method

The pop() method removes and returns the last item if index is not provided,

if we give an index number, in this time, removes this index and it prints to the screen this removed element.

In [34]:
list5 = [1,2,3,4,5]
list5.pop()

5

In [35]:
list5

[1, 2, 3, 4]

In [36]:
item = list5.pop(2)

In [37]:
item

3

In [38]:
list5

[1, 2, 4]

In [39]:
list5.append("Omer")
list5

[1, 2, 4, 'Omer']

In [40]:
list5.pop()

'Omer'

In [41]:
list5

[1, 2, 4]

If we try to write a number that out of index range, this will raise an **IndexError**.

And the index must be an integer. We can't use float or other types, this will result into **TypeError**.

In [42]:
list6 = [1,52,27,48]

In [43]:
list6[30]

IndexError: list index out of range

### How to delete or remove elements from a list?

#### del keyword



We can delete one or more items from a list using the **del** keyword. It can even delete the list entirely.

In [44]:
list8 = [1,2,3,4,5,6]
del list8[2] # Delete index number 2
list8

[1, 2, 4, 5, 6]

In [45]:
del list8[2:5]

In [46]:
list8

[1, 2]

In [47]:
del list8

In [48]:
list8 = [1,2,3,4,5,6]

#### sort() method

This method sorts items in a list in ascending order.

In [49]:
list9 = [23,4,5,1,7,124,43,22,8,19]
list9.sort() # Sorts ascending order.
list9

[1, 4, 5, 7, 8, 19, 22, 23, 43, 124]

In [50]:
list9.sort(reverse = True) # Sorts descending order. 
list9

[124, 43, 23, 22, 19, 8, 7, 5, 4, 1]

In [51]:
cars = ["BMW","Mercedes","Audi","Volkswagen"]
cars.sort() # Sorts alphabetically in ascending order.
cars

['Audi', 'BMW', 'Mercedes', 'Volkswagen']

In [52]:
cars = ["BMW","Mercedes","Audi","Volkswagen"]
cars.sort(reverse=True) # Sorts alphabetically in ascending order.
cars

['Volkswagen', 'Mercedes', 'BMW', 'Audi']

### Nested Lists
A list can even have another list as an item. This is called **nested list**.

In [53]:
# Let's say that we have 3 list.
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]
#We can create a new list with using lists above.
newlist = [list1,list2,list3]
newlist

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

How can we get 5 item in this list?

In [54]:
# Index number 1 of the Index number of 1.list (Our second list's second item)
newlist[1][1]

5

In [55]:
list8 = [1,2,3,4,5,6]
del list8[1:3] # Delete index number 2
list8

[1, 4, 5, 6]

That's all for this lesson.

See you in our next lessons.