<img src="images/07-tuple.png">

# Tuples

In this lesson, we'll learn everything about Python tuples. 

More specifically, what are tuples, how to create tuples, when to use them and various methods you should be familiar with.

### Creating a Tuple

A tuple is created by placing all the items inside a parentheses (),

In [1]:
#place all the items inside parentheses.
tup = (1,2,3,4,5,6,7,8,9)

In [2]:
tup

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [3]:
#Learning data type of tuple.
type(tup)

tuple

How can we define single-element tuple?

In [4]:
# single-element tuple
tup = (1,)
tup

(1,)

In [5]:
type(tup)

tuple

In [6]:
t = (1,2,3,4,5,6,7)
#get the first index
t[0]

1

In [7]:
# get 4. index
t[5]

6

In [8]:
#get the last index
t[-1]

7

In [9]:
t[2:]

(3, 4, 5, 6, 7)

In [10]:
t[::-1]

(7, 6, 5, 4, 3, 2, 1)

### Python Tuple Methods

#### index method:

**index** searches an element in a tuple and returns its index.

In [11]:
t = (1,2,3,"Omer","Faruk")
# We can find the index number of this element.
t.index("Omer")

3

In [12]:
t.index(1)

0

####  count method:

**count** returns the number of occurrences of a given element in the tuple.

In [13]:
t = (1,2,23,44,1,2,1,2,21,1,1,34)
t.count(1)

5

In [14]:
t.count(23)

1

### Changing a Tuple

Unlike lists, tuples are **immutable**. This means that elements of a tuple cannot be changed once it has been assigned.

In [15]:
tup1 = ("Orange","Apple","Banana")
tup1[0] = "Cherry"

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup1.remove("Apple")