<img src="images/9-datatype-conversions.png">

# Data Type Conversions 

We can convert one data type into another in Python easily. 

### Integer  ↔ Floating Points

We can convert an integer value to a floating point (decimal) number with using **float()** function. Let's do this!

In [1]:
# We pass an integer that we want to convert to float function.
a = 24
float(a)

24.0

In [2]:
float(-1)

-1.0

In [3]:
float(4)

4.0

### Floating Points → Integer

We can use **int()** function to convert floating point numbers to integer value. Fraction part of floating point number is ignored.

In [4]:
int(4.6)

4

In [5]:
int(3.14)

3

In [6]:
int(12.3423151234678)

12

In [7]:
a = 5
b = 2
int(a/b)

2

### Numbers ↔ Strings


We can use **str()** function to convert numbers to a string value. All numbers and points are converted to a character.

In [8]:
a = 6345759
b = str(a)
b

'6345759'

In [9]:
len(b)

7

In [10]:
t = 3.14258
y = str(t)
y

'3.14258'

In [11]:
len(y)

7

### Strings ↔ Numbers 

We can use **int()** function to convert strings to integer value. We have to be careful when doing the conversion, make sure that each character of the string has a **digit **. If one of them are character, it will give an error.

In [12]:
# Valid conversion
a = "32434324324234"
b = int(a)
b

32434324324234

In [13]:
# Each character should be a digit.
a = "3149a57"
b = int(a)
b

ValueError: invalid literal for int() with base 10: '3149a57'

### Strings ↔ Floating Points


We can use **float()** function to convert strings to floating points. Again,We have to be careful when doing the conversion, make sure that the string conforms to the decimal number format. It should not be 2 dot signs or should not contain character.

In [14]:
# Valid conversion
a = "3.14"
b = float(a)
b

3.14

In [15]:
# Failed conversion
a = "3.14.2876356"
b = float(a)
b

ValueError: could not convert string to float: '3.14.2876356'

### Lists ↔ Tuples

In [16]:
my_list = [1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [17]:
my_tup = tuple(my_list)
my_tup

(1, 2, 3, 4, 5)

### Tuples ↔ Lists

In [18]:
t = (1,2,3)
t

(1, 2, 3)

In [19]:
list(t)

[1, 2, 3]